body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
   
}



h1{

    color: rgb(236, 76, 103);

}

h2{
    

    color: rgb(44, 184, 160);

}

#win-loss-tracker, #main-section{

    float: left;

    margin-right: 30%;
}


